body {
	margin: 0px;
	padding: 0px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#views{
	margin-top: 50px;
}

canvas {
	text-align: center;
	background-color: #999999;
	margin: auto;
	margin-top: 10%;
}
