body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	width: 102vw;
	position: absolute;
	display: block;
	background-color: #888;
	z-index: 1;
	overflow: hidden;
}
