<div class='container canvas-page'>
	<div class='row'>
		<div class='register col-sm-12'>
			<h1>Space Balls - Let's Play</h1>
		</div>
	</div>	

	<div class='row teams'>
		<div class='home-team col-sm-3 panel'>
			<div class='panel-heading'>
				<h3>Blue Team Players</h3>
			</div>
			<div class='panel-body'>
				<ul class='list-group' ng-repeat="user in blueTeam">
					<li class='list-group-item'>{{user.username}}</li>
				</ul>
			</div>
		</div> 

		<div class='main-display col-sm-6'>
			<div class='col-sm-4'>
				Score:
			</div>
			<div class='col-sm-4'>
				Timer:
			</div>
			<div class='col-sm-4'>
				TBD
			</div>
		</div>


		<div class='away-team col-sm-3 panel'>
			<div class='panel-heading'>
				<h3>Red Team Players</h3>
			</div>
			<div class='panel-body'>
				<ul class='list-group' ng-repeat="user in redTeam">
					<li class='list-group-item'>{{user.username}}</li>
				</ul>
			</div>
		</div> 
	</div>

	<div class='row'>	
		<div id="canvas"></div>
	</div>	


</div>

<!-- <script src='static/js/scripts.js'></script> -->
<script src="static/js/player.js"></script>
<script src="static/js/multi_test.js"></script>