<div class='container lobby-page'>
	<div class='row'>
		<div class='register col-sm-12'>
			<h1>Space Balls Lobby - Please Wait While We Prepare Your Game</h1>
		</div>
	</div>	

	<div class='row teams'>
		<div class='blue-team col-sm-5 panel'>
			<div class='panel-heading'>
				<h3>Blue Team Players</h3>
			</div>
			<div class='panel-body'>
				<ul class='list-group' ng-repeat="user in blueTeam">
					<li class='list-group-item'>{{user.username}}</li>
				</ul>
			</div>
		</div>

		<div class='red-team col-sm-5 col-sm-offset-1 panel'>
			<div class='panel-heading'>
				<h3>Red Team Players</h3>
			</div>
			<div class='panel-body'>
				<ul class='list-group' ng-repeat="user in redTeam">
					<li class='list-group-item'>{{user.username}}</li>
				</ul>
			</div>
		</div>  
	</div>
</div>			